@{
  Layout = "_Layout";
}
@model RecipeBook.Models.Recipe;

<h4 class="text-center">Add a new Recipe</h4>
<div class="row">
  <div class="col-md-6 offset-md-3">

    @using (Html.BeginForm())
    {
      <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class="form-control", placeholder = "Name of recipe."})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Instructions)
        @Html.TextBoxFor(model => model.Instructions, new { @class="form-control", placeholder = "How to make this recipe."})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Ingredients )
        @Html.TextAreaFor(model => model.Ingredients , new { @class="form-control", placeholder = "What you need."})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Rating)
        @Html.TextBoxFor(model => model.Rating, new { @class="form-control", placeholder = "How good is it?", @type = "number"})
      </div>
      <div class="form-group">
        @Html.Label("Select Tag")
        @Html.DropDownList("TagId", null, new { @class="form-control" })
      </div>

        <input type="submit" value="Add new item" class="btn btn-info btn-block" />
    }
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
   
  </div>
</div>