@{
  Layout = "_Layout";
}
@model RecipeBook.Models.Recipe;

<h4>Add a new Recipe</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select Tag")
    @Html.DropDownList("TagId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>