 @{
   Layout = "_Layout";
 }

@model RecipeBook.Models.Recipe;

<div class="row">
  <div class="col-md-8 offset-md-2">

    <h1 class="text-center">Recipe Details</h1>
    <hr />
    <h3>@Html.DisplayNameFor( model => model.Name): @Html.DisplayFor(model => model.Name )</h3>
    <p>@Html.DisplayNameFor( model => model.Rating): @Html.DisplayFor(model => model.Rating )</p>
    <p>@Html.DisplayNameFor( model => model.Instructions): @Html.DisplayFor(model => model.Instructions )</p>
    <p>@Html.DisplayNameFor( model => model.Ingredients ): @Html.DisplayFor(model => model.Ingredients )</p>



    @if(@Model.Tags.Count == 0)
    {
      <p>This Recipe does not belong to any Tags</p>
    }

      <h4>Tags the Recipe belongs to:</h4>
      <ul>
      @foreach(var join in Model.Tags)
      {
        <li>@Html.ActionLink($"{join.Tag.Name}", "Details", "Tags",new { id = join.Tag.TagId})</li>
        @using (Html.BeginForm("DeleteTags", "Recipes"))
        {
          @Html.Hidden("joinId", @join.RecipeTagId)
          <input type="submit" value="Delete"/>
        }
      }
      </ul>

      @await Html.PartialAsync("_Recipe-buttons")

  </div>
</div>

