 @{
   Layout = "_Layout";
 }

@model RecipeBook.Models.Recipe;

<div class="row">
  <div class="col-md-8 offset-md-2">

    <h1 class="text-center">Recipe Details</h1>
    <hr />
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

    @if(@Model.Tags.Count == 0)
    {
      <p>This Recipe does not belong to any Tags</p>
    }

      <h4>Recipe the Recipe belongs to:</h4>
      <ul>
      @foreach(var join in Model.Tags)
      {
        <li>@join.Recipe.Name</li>
        @using (Html.BeginForm("DeleteRecipe", "Recipes"))
        {
          @Html.Hidden("joinId", @join.RecipeId)
          <input type="submit" value="Delete"/>
        }
      }
      </ul>

      @await Html.PartialAsync("_Recipe-buttons")

  </div>
</div>