@{ 
  Layout = "_Layout";
}
<h1>Edit</h1>
@model RecipeBook.Models.Recipe

<h4 class="text-center">Add a new Recipe</h4>
<div class="row">
  <div class="col-md-6 offset-md-3">

    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.RecipeId)

      <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name, new { htmlAttributes  = new { @class="form-control", placeholder = "Name of recipe."} })
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Instructions)
        @Html.EditorFor(model => model.Instructions, new { htmlAttributes  = new { @class="form-control", placeholder = "How to make this recipe."}})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Ingredients )
        @Html.EditorFor(model => model.Ingredients , new { htmlAttributes  = new { @class="form-control", placeholder = "What you need."}})
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.Rating)
        @Html.EditorFor(model => model.Rating,new { htmlAttributes  = new { @class="form-control", placeholder = "How good is it?", @type = "number"}})
      </div>
      <div class="form-group">
        @Html.Label("Select Tag")
        @Html.DropDownList("TagId", null, new { @class="form-control" })
      </div>

        <input type="submit" value="Add new item" class="btn btn-info btn-block" />
    }
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3">
   
  </div>
</div>